@import url('https://fonts.googleapis.com/css?family=Muli');
*{
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  /* margin: auto; */
}

#og_section {
  width: 280px;
  border: solid 0.5px #000000;
  margin: 10px 0px;
  border-radius: 6px;
  display: flex;
}

img {
  height: 58px;
  width: 90px;
  padding-top: 6px;
}

/* .ellipsis {
  padding: 8px;
  width: 180px;
  height: 60px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */

.ellipsis {
  position: relative;
  padding: 6px;
  height: 70px;
  width: 180px;
  overflow: hidden;
  line-height: 20px;
}

.ellipsis:before, .ellipsis:after {
  position: absolute;
  background: #fff;
}

.ellipsis:before {
  content: "･･･";
  bottom: 6px;
  right: 0;
}

.ellipsis:after {
  content: "";
  width: 100%;
  height: 100%;
}


h1{
  text-align: center;
}

body{
  width: 300px;
  padding: 10px;
}


