@import url('https://fonts.googleapis.com/css?family=Muli');
*{
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  /* margin: auto; */
}

#og_section {
  width: 280px;
  border: solid 0.5px #000000;
  margin: 10px 0px;
  border-radius: 6px;
  display: flex;
}

#og_image{
  height: 58px;
  width: 90px;
  padding-top: 6px;
}

/* .ellipsis {
  padding: 8px;
  width: 180px;
  height: 60px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */

.ellipsis {
  position: relative;
  padding: 6px;
  height: 70px;
  width: 180px;
  overflow: hidden;
  line-height: 20px;
}

.ellipsis:before, .ellipsis:after {
  position: absolute;
  background: #fff;
}

.ellipsis:before {
  content: "･･･";
  bottom: 6px;
  right: 0;
}

.ellipsis:after {
  content: "";
}

#notification {
  font-size: large;
  margin: 8px 0;
}

#note_section, #catecory_section_title, #delete_section {
  padding: 4px 8px;
  width: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 12px;
  /* background-color: rgb(190, 205, 214); */
  transition: box-shadow 0.3s;
  /* box-shadow:
    10px 10px 30px rgba(18, 47, 61, 0.5),
    -10px -10px 30px rgba(248, 253, 255, 0.9),
    inset 10px 10px 30px transparent,
    inset -10px -10px 30px transparent; */
}

#note_section:hover, #catecory_section_title:hover, #delete_section:hover {
  box-shadow:
    10px 10px 30px transparent,
    -10px -10px 30px transparent,
    inset 10px 10px 30px rgba(18, 47, 61, 0.5),
    inset -10px -10px 30px rgba(248, 253, 255, 0.9);
}

#catecory_section {
  display: flex;
  align-items: center;
}

#catecory_section_title {
  width: 140px;
}

#category_list {
  margin-left: 6px;
}

.footer_section {
  display: flex;
  justify-content: space-between;
}

#delete_section {
  width: 120px;
}

.icon_image {
  height: 18px;
  width: 18px;
}

h1{
  text-align: center;
}

body{
  width: 300px;
  padding: 10px;
}


