.DS_store

#gitignore for rails_api directory
# Ignore bundler config.
/rails_api/.bundle

# Ignore all logfiles and tempfiles.
/rails_api/log/*
/rails_api/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/rails_api/storage/*
!/storage/.keep

/rails_api/node_modules
/rails_api/yarn-error.log

#gitignore for frontend directory
